.main {
    width:100%;
    height:100vh;
    background-color:aqua;


    }
.chat-history{
    width:100%;
    height:85vh;
    background-color:cadetblue
}
.send-form input{
    font-size:2rm;
    width:85%;
}
.send-from button{
    font-size :2rem;
    min-width:10%;
}